{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {bytemap.plot {plot {:arities {2 {:args [{:op :keys,
                                                                                 :req {:width :int,
                                                                                       :height :int,
                                                                                       :pixels :vector}}
                                                                                :fn],
                                                                         :ret {:op :keys,
                                                                               :req {:width :int,
                                                                                     :height :int,
                                                                                     :pixels :vector}}},
                                                                      :varargs {:args [{:op :keys,
                                                                                        :req {:width :int,
                                                                                              :height :int,
                                                                                              :pixels :vector}}
                                                                                       :fn
                                                                                       {:op :rest, :spec :any}],
                                                                                :ret {:op :keys,
                                                                                      :req {:width :int,
                                                                                            :height :int,
                                                                                            :pixels :vector}},
                                                                                :min-arity 2}}},
                                                      plot-histogram {:arities {1 {:args [:any], :ret :nil},
                                                                                :varargs {:args [:any
                                                                                                 {:op :rest, :spec :any}],
                                                                                          :ret :nil,
                                                                                          :min-arity 1}}},
                                                      histogram {:arities {2 {:args [{:op :keys,
                                                                                      :req {:width :int,
                                                                                            :height :int,
                                                                                            :pixels :vector}}
                                                                                     :map],
                                                                              :ret {:op :keys,
                                                                                    :req {:width :int,
                                                                                          :height :int,
                                                                                          :pixels :vector}}},
                                                                           :varargs {:args [{:op :keys,
                                                                                             :req {:width :int,
                                                                                                   :height :int,
                                                                                                   :pixels :vector}}
                                                                                            :map
                                                                                            {:op :rest, :spec :any}],
                                                                                     :ret {:op :keys,
                                                                                           :req {:width :int,
                                                                                                 :height :int,
                                                                                                 :pixels :vector}},
                                                                                     :min-arity 2}}},
                                                      plot->string {:arities {4 {:args [:fn :seqable :number :number],
                                                                                 :ret :string},
                                                                              :varargs {:args [:fn
                                                                                               :seqable
                                                                                               :number
                                                                                               :number
                                                                                               {:op :rest, :spec :any}],
                                                                                        :ret :string,
                                                                                        :min-arity 4}}},
                                                      print-plot! {:arities {4 {:args [:fn :seqable :number :number],
                                                                                :ret :nil},
                                                                             :varargs {:args [:fn
                                                                                              :seqable
                                                                                              :number
                                                                                              :number
                                                                                              {:op :rest, :spec :any}],
                                                                                       :ret :nil,
                                                                                       :min-arity 4}}}},
                                        bytemap.core {draw-point {:arities {2 {:args [{:op :keys,
                                                                                       :req {:width :int,
                                                                                             :height :int,
                                                                                             :pixels :vector}}
                                                                                      :seqable],
                                                                               :ret {:op :keys,
                                                                                     :req {:width :int,
                                                                                           :height :int,
                                                                                           :pixels :vector}}},
                                                                            3 {:args [{:op :keys,
                                                                                       :req {:width :int,
                                                                                             :height :int,
                                                                                             :pixels :vector}}
                                                                                      :seqable
                                                                                      :any],
                                                                               :ret {:op :keys,
                                                                                     :req {:width :int,
                                                                                           :height :int,
                                                                                           :pixels :vector}}}}},
                                                      print-canvas! {:arities {1 {:args [{:op :keys,
                                                                                          :req {:width :int,
                                                                                                :height :int,
                                                                                                :pixels :vector}}],
                                                                                  :ret :nil}}},
                                                      braille {:arities {1 {:args [:int], :ret :string}}},
                                                      set-subpixel {:arities {3 {:args [:int :seqable :any], :ret :int}}},
                                                      bounds {:arities {1 {:args [{:op :keys,
                                                                                   :req {:width :int,
                                                                                         :height :int,
                                                                                         :pixels :vector}}],
                                                                           :ret :seqable}}},
                                                      canvas->string {:arities {1 {:args [{:op :keys,
                                                                                           :req {:width :int,
                                                                                                 :height :int,
                                                                                                 :pixels :vector}}],
                                                                                   :ret :string}}},
                                                      bit-of-subpixel {:arities {1 {:args [:seqable], :ret :int}}},
                                                      new-canvas {:arities {2 {:args [:int :int],
                                                                               :ret {:op :keys,
                                                                                     :req {:width :int,
                                                                                           :height :int,
                                                                                           :pixels :vector}}}}},
                                                      draw-line {:arities {3 {:args [{:op :keys,
                                                                                      :req {:width :int,
                                                                                            :height :int,
                                                                                            :pixels :vector}}
                                                                                     :seqable
                                                                                     :seqable],
                                                                              :ret {:op :keys,
                                                                                    :req {:width :int,
                                                                                          :height :int,
                                                                                          :pixels :vector}}}}}},
                                        bytemap.util {idiv {:arities {2 {:args [:int :int], :ret :int}}},
                                                      format-float {:arities {1 {:args [:number], :ret :string}}},
                                                      set-bit {:arities {3 {:args [:int :int :any], :ret :int}}},
                                                      calculate-std-dev {:arities {1 {:args [:any], :ret :double},
                                                                                   2 {:args [:any :number],
                                                                                      :ret :double}}},
                                                      calculate-mean {:arities {1 {:args [:any], :ret :double},
                                                                                2 {:args [:any :number], :ret :double}}}}}}}}
